<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Category">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="hot" jdbcType="BIT" property="hot" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
  </resultMap>
</mapper>